  <!-- Footer styles Start -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="footer-section">
          <div class="col-sm-4">
            <div class="single-secton">
              <h3>اشترك في النشرة الإخبارية لدينا</h3>
              <div class="form">
                <div class="form-group">
                  <input placeholder="البريد الالكتروني" id="exampleInputName1" class="form-control first" type="text">
                </div>
                <input class="bttn" value="اشتراك" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-secton">
              <h3>تابعنا علي</h3>
              <ul>
                <li class="facebook"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                <li class="google"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                <li class="youtube"><a href="javascript:void(0)"><i class="fa fa-youtube-play"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single-secton">
              <h3>تحتاج للمساعده ؟</h3>
              <p><i class="fa fa-phone"></i> اتصل بنا : <span>1800-0000-1234</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="single-section-two"> <a class="logo" href="/">بوابه <span>خريجي <br /> الكينج</span> مريوط</a>
            <p>مدخل الكافوري معهد الكينج مريوط</p>
            <p>اسكندريه العامريه</p>
            <p>مصر .</p>
          </div>
        </div>
        <div class="col-sm-5 col-md-2">
          <div class="single-section-two white">
            <h3>Company</h3>
            <ul>
              <li><a href="/">الرئيسيه</a></li>
              <li><a href="/about">حول</a></li>
              <li><a href="/services">الخدمات</a></li>
              <li><a href="/current-jobs">الوظايف المتاحه</a></li>
              <li><a href="/contact">نواصل معنا</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-sm-3 col-md-2">
          <div class="single-section-two white">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Add Listing</a></li>
              <li><a href="#">Popular Categories</a></li>
              <li><a href="#">Popular Places</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div> -->
        <div class="col-sm-12 col-md-5">
          <div class="single-section-two">
            <h3>ابقى على تواصل</h3>
            <div class="form">
              <div class="form-group">
                <input placeholder="الاسم" id="exampleInputName2" class="form-control first" type="text">
              </div>
              <div class="form-group">
                <input placeholder="البريد الالكتروني" id="exampleInputEmail" class="form-control first" type="text">
              </div>
              <div class="form-group">
                <input placeholder="ارسال رساله" id="exampleInputMessage" class="form-control first message" type="text">
                <input class="bttn" value="اشتراك" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer styles End --> 
  <!-- Copyright styles End -->
  <div class="copyright-wrapper">
    <div class="container">
      <p>© حقوق النشر لسنه 
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript">
    var d=new Date();
    document.write(d.getFullYear());
    </script>بوابه خريجي الكينج مريوط | جميع الحقوق محفوظه</p>
    </div>
  </div>
  <!-- Copyright styles End --> 