<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Recruite Pro</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS-->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="/animate/animate.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <!-- magnific Css -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body cz-shortcut-listen="true">
    <!-- Loader -->
    <div id="dvLoading" style="display: none;"></div>
    <%- include('components/header')%>
    <!-- breadcrumb Wrapper Start -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="banner-title">
          <h2>حولنا</h2>
          <div class="line"> <span></span></div>
        </div>
        <ul class="inner-breadcrumb">
          <li><a href="/">الرئيسيه</a></li>
          <li>حولنا</li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb Wrapper End --> 
    <!-- Inner page Wrapper Start -->
    <div class="inner-page-wrapper">
      <div class="container">
        <div class="title">
          <h2>لماذا <span>بوابه خريجين الكينج</span> ؟</h2><br />
          <h3>اذا كان العمل متاح سوف تجده في بوابه خريجين الكينج</h3>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="about-section">
              <div class="recruitepro-img"><img src="images/recruitepro-img.jpg" alt=""></div>
              <div class="question-img"><img src="images/question-img.jpg" alt=""></div>
              <div class="green-bg">JANGO هي الأداة المثلى لتشغيل أي من مشاريعك. الشركات والتجارة الإلكترونية و SAAS و CRM والمزيد.</div>
              <div class="explore">يستكشف</div>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="faq-wrapper">
              <div class="panel-group panel-faq" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading active" role="tab" id="heading1">
                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">اختيار الموافقه المبدئيه للعميل</a> </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
                    <div class="panel-body">
                      <p>وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">مميزات الاختلاف السائد عند فتح البيئه البرمجيه </a> </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false">
                    <div class="panel-body">
                      <p>وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد. من كتاب "حول أقاصي الخير والشر"</p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-check"></i> دعم الجودة</li>
                        <li><i class="fa fa-check"></i> HTML قالب</li>
                        <li><i class="fa fa-check"></i> صفحات سريعه</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading3">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">اهداف الموقع الاوليه؟ </a> </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                      <p>"خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة في, اقتصّت المحور حدة و. هذه ما طرفاً عالمية استسلام, الصين وتنامت حين ٣٠, ونتج والحزب المذابح كل جوي. أسر كارثة المشتّتون بل, وبعض وبداية الصفحة غزو قد, أي بحث تعداد الجنوب.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading4">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">قيم الموقع التي يحتاج اليها</a> </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                      <p>وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner page Wrapper End --> 
    <!-- Business Performance Wrapper Start -->
    <div class="business-performance-wrapper">
      <div class="container">
        <div class="title">
          <h2>نحن نقود <span>أداء الأعمال؟</span> ?</h2><br />
          <h3>اذا كان العمل متاح سوف تجده في بوابه خريجين الكينج</h3>
        </div>
      </div>
      <div class="container">
        <div class="passionate-wrapper">
          <div class="passionate-inner">
            <div class="passionate-text">
              <h2>المتخصصين المتحمسين</h2>
              <h3>اذا كان العمل متاح سوف تجده في بوابه خريجين الكينج</h3>
              <span class="line"></span>
              <p>قصف المسرح واستمر الإتحاد في, ذات أسيا للغزو، الخطّة و, الآخر لألمانيا جهة بل. في سحقت هيروشيما البريطاني يتم, غريمه باحتلال الأيديولوجية، في فصل, دحر وقرى لهيمنة الإيطالية ٣٠. استبدال استسلام القاذفات عل مما. ببعض مئات وبلجيكا، قد أما, قِبل الدنمارك حتى كل, العمليات اليابانية انه أن.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Business Performance Wrapper End --> 
    <!-- Creative Wrapper Start -->
    <div class="creative-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12 pull-right">
            <div class="creative-img"><img src="images/creative-img1.jpg" alt=""></div>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="creative-text bor">
              <h2>إبداعي</h2>
              <span class="line"></span>
              <h3>الناسخ</h3>
              <p>في بعض الأحيان ، لا يكون العمل الفوري هو الهدف. قد لا يكون القارئ في وضع يسمح له باتخاذ إجراء فوري عندما يرى نسختك ، أو قد لا يكون جعلهم يتخذون إجراءً فوريًا هو الأولوية. هذا النوع من النسخ ليس له اسم سريع ، لكن مفهوم التسويق الآن للحصول على نتائج في المستقبل هو في الأساس علامة تجارية.</p>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="creative-img"><img src="images/creative-img2.jpg" alt=""></div>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="creative-text bor1">
              <h2>تخطيط</h2>
              <span class="line"></span>
              <h3>المحلل</h3>
              <p>في بعض الأحيان ، لا يكون العمل الفوري هو الهدف. قد لا يكون القارئ في وضع يسمح له باتخاذ إجراء فوري عندما يرى نسختك ، أو قد لا يكون جعلهم يتخذون إجراءً فوريًا هو الأولوية. هذا النوع من النسخ ليس له اسم سريع ، لكن مفهوم التسويق الآن للحصول على نتائج في المستقبل هو في الأساس علامة تجارية.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Creative Wrapper End --> 
    <%- include('components/footer')%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="/jquery/jquery-3.1.1.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/jquery/plugins.js"></script> 
    <script src="/jquery/jquery.animateNumber.min.js"></script> 
    <script src="/jquery/jquery.magnific-popup.min.js"></script> 
    <script src="/owl-carousel/js/owl.carousel.js"></script> 
    <script src="/wow/wow.min.js"></script> 
    <script src="/js/custom.js"></script><a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"></i></a>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-83282272-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
    
      gtag('config', 'UA-83282272-3');
    </script>
    
    </body></html>