<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Recruite Pro</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS-->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="/animate/animate.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <!-- magnific Css -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body cz-shortcut-listen="true">
    <!-- Loader -->
    <div id="dvLoading" style="display: none;"></div>

    <%- include('components/header')%>

    <!-- breadcrumb Wrapper Start -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="banner-title">
          <h2>تواصل معنا</h2>
          <div class="line"> <span></span></div>
        </div>
        <ul class="inner-breadcrumb">
          <li><a href="/">الرئيسيه</a></li>
          <li>تواصل معنا</li>
        </ul>
      </div>
    </div>
    <!-- breadcrumb Wrapper End --> 
    <!-- Inner page Wrapper Start -->
    <div class="inner-page-wrapper contacts-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="contactus-txt">
              <h2>ابق علي تواصل</h2><br />
              <p>وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت</p>
            </div>
            <div class="contact-address">
              <div class="contact-left"> <i class="fa"><img src="images/contact-icon1.jpg" alt=""></i>
                <div class="address">
                  <h3>الاسكندريه</h3>
                  العامريه <span>مدخل الكافوري</span> <span>معهد الكينج مريوط</span> </div>
              </div>
              <div class="contact-right"> <i class="fa"><img src="images/contact-icon2.jpg" alt=""></i>
                <div class="address">
                  <h3>اجتماعي</h3>
                  email: kma@kma.com <span> Phone: 123-456-7890</span> <span> fax: 123-456-7890</span> </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 hidden-sm"> <img src="images/contact-img.jpg" alt=""> </div>
        </div>
      </div>
    </div>
    <!-- Inner page Wrapper End --> 
    <!-- Contact Form Wrapper Start -->
    <div class="contact-form-wrapper">
      <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198710.35112897935!2d-98.51489117772236!3d38.904562823631146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1471865832140" allowfullscreen=""></iframe>
      </div>
      <div class="contact-info">
        <div class="container">
          <div class="form-bg">
            <div class="row">
              <div class="col-sm-8">
                <div class="contact-form">
                  <h2>ارسل الينا رساله</h2><br />
                  <div class="row">
                    <form>
                      <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                          <input class="form-control" id="name" placeholder="الاسم" required="" type="text">
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                          <input class="form-control" id="phone" placeholder="الهاتف" required="" type="text">
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                          <input class="form-control" id="email" placeholder="البريد الالكتروني" required="" type="email">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <textarea class="form-control" id="comment" placeholder="اكتب رساله..." required=""></textarea>
                        </div>
                      </div>
                      <div class="col-sm-12 text-right">
                        <button type="submit" class="btn-one">ارسال</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="why-us">
                  <h2>لماذا نحن</h2><br/>
                  <ul>
                    <li>محاسبة</li>
                    <li>تمويل</li>
                    <li>التوظيف</li>
                    <li>تمويل</li>
                    <li>التوظيف</li>
                  </ul>
                  <ul>
                    <li>محاسبة</li>
                    <li>تمويل</li>
                    <li>التوظيف</li>
                    <li>تمويل</li>
                    <li>التوظيف</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Form Wrapper End --> 
    
    <%- include('components/footer')%>
     
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="/jquery/jquery-3.1.1.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/jquery/plugins.js"></script> 
    <script src="/jquery/jquery.animateNumber.min.js"></script> 
    <script src="/jquery/jquery.magnific-popup.min.js"></script> 
    <script src="/owl-carousel/js/owl.carousel.js"></script> 
    <script src="/wow/wow.min.js"></script> 
    <script src="/js/custom.js"></script><a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"></i></a>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-83282272-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
    
      gtag('config', 'UA-83282272-3');
    </script>
    
    </body></html>